/* ***********************-> Navbar START <-************************* */

.navbar {
    background: yellow;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 60px;
    top: 0;
    position: sticky;
    z-index: 100000;
}

.navbar .navbar_logo {
    height: 50px;
    width: fit-content;
    color: white;
}

.navbar .navbar_logo:hover {
    transform: scale(1.1);
}

.navbar .navbar_menu {
    display: flex;
}

.navbar .navbar_menu h3 {
    margin-left: 30px;
    text-transform: uppercase;
    opacity: 0.8;
}

.navbar .navbar_menu h3:hover {
    font-size: 20px;
    opacity: 1;
}


/* ***********************-> Navbar END <-************************* */


/* ***********************-> Hero START <-************************* */

.hero {
    min-height: calc(100vh - 75px);
    background-image: url('https://www.paolasacco.com/fileadmin/media/welt_der_musik/mailand/Hotel-Principe-di-Savoia-Il-Salotto-Lobby-Lounge-Mailand-paola-sacco-luxury-travel.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room_hero {
    min-height: 60vh;
    background-image: url('https://www.paolasacco.com/fileadmin/media/welt_der_musik/mailand/Hotel-Principe-di-Savoia-Milan-Deluxe-Zimmer-Mailand-paola-sacco-luxury-travel.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ***********************-> Hero END <-************************* */


/* ***********************-> Banner START <-************************* */

.banner {
    width: 50%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 40px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 10px;
}

.banner>h2 {
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: capitalize;
    margin: 20px 10px;
    margin-bottom: 10px;
}

.banner>div.title_line {
    width: 100px;
    border: 2px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
}

.banner>p {
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.btn_primary {
    cursor: pointer;
    outline: none;
    border: 2px solid yellow;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    background: transparent;
    transition: 0.3s ease-in-out;
}

.btn_primary:hover {
    background: yellow;
    border: 2px solid black;
    color: black;
}


/* ***********************-> Banner END <-************************* */


/* ***********************-> Title START <-************************* */

h3.title_component {
    margin-top: 30px;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bolder;
}

div.title_underline {
    margin: 20px;
    width: 100px;
    height: 4px;
    background: gray;
    border-radius: 20px;
}


/* ***********************-> Title END <-************************* */


/* ***********************-> Services START <-************************* */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(209, 206, 206);
}

.services .services_items_sections {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.services_items_sections .services_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.services_items_sections .services_item>.service_icon {
    font-size: 30px;
    color: green;
    margin-bottom: 15px;
}

.services_items_sections .services_item>h3 {
    letter-spacing: 1px;
    text-transform: capitalize;
}

.services_items_sections .services_item>p {
    margin: 20px;
    margin-top: 10px;
}


/* ***********************-> Services END <-************************* */


/* ***********************-> Features START <-************************* */

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading>h3 {
    text-align: center;
    text-transform: capitalize;
    margin: 20px;
}

.loading>img {
    height: 100px;
    object-fit: contain;
}

.features .featured_rooms {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.room {
    padding: 20px;
}

.image_container {
    position: relative;
    width: 320px;
    cursor: pointer;
}

.room .image_room {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: contain;
}

.room .room_price {
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.83);
    color: white;
    border-bottom-right-radius: 20px;
}

.room_price>h6 {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.room_price>p {
    font-size: small;
    text-transform: capitalize;
}

.room .room_details {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.image_container:hover .image_room {
    opacity: 0.5;
}

.image_container:hover .room_details {
    opacity: 1;
}

.image_container:hover .room_details button.btn_primary {
    transition: .1s ease;
    color: black;
    background: yellow;
}

.image_container .room_info {
    text-align: center;
    padding: 10px;
    background: rgb(140, 85, 240);
    color: white;
    font-size: large;
    font-weight: 500;
    text-transform: capitalize;
}


/* ***********************-> Features END <-************************* */


/* ***********************-> Single Room Start <-************************* */

.single_room_section .single_room_images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.single_room_section .single_room_images>img {
    height: 150px;
    object-fit: contain;
    margin: 20px;
}

.single_room_info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.single_room_info .room_description {
    width: 50%;
    padding: 20px 40px;
}

.single_room_info h3 {
    margin-bottom: 20px;
    font-size: 25px;
}

.single_room_info .room_info {
    width: 50%;
    padding: 20px 40px;
}

.single_room_info .room_info>h6 {
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.room_extras_section {
    padding: 20px 40px;
}

.room_extras_section>h6 {
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.room_extras_section .extras {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
}

.room_extras_section li {
    margin-bottom: 10px;
    list-style-type: disc;
    margin-left: 20px;
}


/* ***********************-> Single Room END <-************************* */


/* ***********************-> Search Rooms START <-************************* */

.rooms_filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.filter_form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
}

.filter_type {
    margin-right: 3rem;
    width: 100%;
}

select {
    width: 100%;
    background-color: yellow;
    padding: .3rem;
    outline: none;
    border: none;
    border-radius: .3rem;
    text-transform: capitalize;
    font-size: 18px;
    margin: 1rem 0 1rem 0;
}

.filter_range {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.filter_range input#price {
    padding: 0.3rem 0 0.3rem 0;
    margin: 1rem 0 1rem 0;
    width: 100%;
}

.filter_range>label {
    padding: 0.3rem;
}

.size-inputs input {
    padding: .3rem;
    border: none;
    outline: none;
    border-radius: .4rem;
    margin-top: 15px;
    background-color: rgb(218, 213, 221);
    width: 100%;
}

.checkbox-inputs-1 {
    margin-top: 15px;
}

.extra-text {
    visibility: hidden;
}

.checkbox-inputs-2 {
    margin-top: 5px;
}

.lbl-breakfast {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.lbl-breakfast input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-checkbox {
    position: absolute;
    cursor: pointer;
    width: 55px;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 60px;
}

.slider-checkbox:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 5px;
    background-color: rgb(129, 127, 163);
    transition: .4s;
    border-radius: 50%;
}

.lbl-breakfast input:checked+.slider-checkbox {
    background-color: yellow;
}

.lbl-breakfast input:focus+.slider-checkbox {
    box-shadow: 0 0 1px #8fa5b8;
}

.lbl-breakfast input:checked+.slider-checkbox::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: rgb(21, 18, 18);
}


/* Pets Checkbox */

.lbl-pets {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.lbl-pets input {
    opacity: 0;
    width: 0;
    height: 0;
}

.lbl-pets input:checked+.slider-checkbox {
    background-color: yellow;
}

.lbl-pets input:focus+.slider-checkbox {
    box-shadow: 0 0 1px #8fa5b8;
}

.lbl-pets input:checked+.slider-checkbox::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: rgb(21, 18, 18);
}


/* ***********************-> Search Rooms END <-************************* */


/* ***********************-> Rooms List START <-************************* */

.rooms_empty {
    margin: 3rem;
}

section.rooms_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* ***********************-> Rooms List END <-************************* */


/* ***********************-> About Page START <-************************* */

.about .btn {
    margin-top: 40px;
    margin-bottom: 40px;
}

.about .text img {
    width: 400px;
}

div.about h1 {
    font-size: 33px;
}

.about .prog-info {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .prog-info h2 {
    font-weight: 800;
    color: #383A41;
    text-align: center;
    font-size: 1.5em;
    margin-left: 2rem;
}

.prof-round {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: yellow;
}

.about .prog-info img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ***********************-> About Page END <-************************* */


/* ***********************-> Contact Us Page START <-************************* */

.contact-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-logo img {
    max-width: 500px;
}

.contact-us h1 {
    margin: 2rem;
}

.contact-us .btn {
    max-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 30px;
    overflow-wrap: anywhere;
}

.contact-us .btn i {
    margin-right: 1rem;
    font-size: 20px;
}

.contact-us .btn>span.email {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    text-overflow: ellipsis;
}


/* ***********************-> Contact Us Page END <-************************* */


/* ***********************-> Responsive START <-************************* */


/* 576xp max width and down */

@media (max-width: 576px) {
    .navbar .navbar_menu {
        flex-wrap: wrap;
        align-items: center;
        justify-content: left;
    }
    .navbar .navbar_menu h3 {
        padding-top: 5px;
        font-size: 17px;
    }
    .navbar {
        justify-content: space-between;
        height: 75px;
    }
    .navbar .navbar_logo {
        width: auto;
    }
    .services .services_items_sections {
        flex-wrap: wrap;
    }
    .single_room_info {
        display: flex;
        flex-direction: column;
    }
    .single_room_info>.room_info,
    .room_description {
        width: 100% !important;
    }
    .room_extras_section .extras {
        display: block !important;
        /* grid-template-columns: 1fr !important; */
    }
    .filter_form {
        display: grid;
        grid-template-columns: 1fr !important;
    }
    .size-inputs input {
        width: 100%;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {
    .room_extras_section .extras {
        grid-template-columns: 1fr 1fr !important;
    }
    .filter_form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .size-inputs input {
        width: 100%;
    }
    .extra-text {
        display: none !important;
    }
}


/*  Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .room_extras_section .extras {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


/*  X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}


/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {}


/* ***********************-> Responsive END <-************************* */